<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />

        <security>
            <requestFiltering>
            <requestLimits maxQueryString="32768"/>
            </requestFiltering>
        </security>

    </system.webServer>
                <!-- <httpRuntime maxQueryStringLength="32768" maxUrlLength="65536"/> -->

</configuration>
